<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brycen's Homepage</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1> ~ Welcome to My Deployment Project ~ </h1>
        </header>
        <main>
            <p>
                This page is being served from a Python application.
                It was built using Docker and deployed its configuration using Ansible.
                The Infrastructure was put together in AWS using Terraform.
                It encorporates HTTPS and an App Load Balancer to allow for improved security, reliability, and availability.
            </p>
            <p>
                Excellent fun to be able to build with all these features.
            </p>
            <div class="hostname-box">
                <p>Server from host:</p>
                <h2> {{ hostname }} </h2>
        </main>
    </div>
</body>
</html>
