name: Manual - Destroy Infrastructure

on: 
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to destroy'
        required: true
        default: 'dev' 
        type: choice
        options:
          - dev


jobs:
  destroy-dev:
    name: Destroy Development Infrastructure
    if: github.event.inputs.environment == 'dev'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicopr/setup-terraform@v2 
        with:
          terraform_version: 1.2.0

      - name: Terraform Destroy
        working-directory: ./terraform/dev
        run: | 
          terraform init
          terraform destroy -auto-approve
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
